/* ---- reset ---- */
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FF9933;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

body {
  font-family: "Noto Sans JP";
}

a {
  color: #333;
  text-decoration: none;
}

p {
  color: #444;
  line-height: 200%;
}

li {
  list-style: none;
}

h3 {
  font-size: 1.75rem;
}

.btn {
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background-color: #fff;
  border-radius: 50px;
}

.sec__title {
  font-size: 3rem;
  margin-bottom: 80px;
}

.logo {
  width: 80px;
}

#fv .fv__wrapper {
  position: relative;
  height: 100vh;
}
#fv .btn {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
}

.wrapper, #service .service__wrapper, #values .values__wrapper {
  max-width: 1250px;
  margin: 0 auto;
  padding: 120px 20px;
}

#values .values__list {
  width: 100%;
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  #values .values__list {
    flex-direction: column;
    background-color: yellow;
  }
}
#values .values__item {
  width: 400px;
  height: 400px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  padding: 40px 25px;
}
@media screen and (max-width: 768px) {
  #values .values__item {
    margin: 0 auto;
  }
}
#values .values__img {
  display: block;
  width: 70px;
  margin: 0 auto 10px;
}
#values .values__title {
  text-align: center;
  margin-bottom: 20px;
}

#service .service__list {
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  #service .service__list {
    flex-direction: column;
    background-color: yellow;
  }
}
#service .service__item {
  width: 400px;
  height: 400px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  padding: 40px 25px;
}
@media screen and (max-width: 768px) {
  #service .service__item {
    margin: 0 auto;
  }
}
#service .service__img {
  display: block;
  width: 70px;
  margin: 0 auto 10px;
}
#service .service__title {
  text-align: center;
  margin-bottom: 20px;
}

#works .works__list {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#works .works__item {
  width: 30%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
  padding: 20px 10px;
}
#works img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
#works .category {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  background-color: #0099DD;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 10px;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 12;
}
#header .header__wrapper {
  max-width: 1250px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
}
#header .header__list {
  display: flex;
  gap: 24px;
  font-weight: 700;
}

#footer {
  background-color: #000;
}
#footer .wrapper, #footer #values .values__wrapper, #values #footer .values__wrapper, #footer #service .service__wrapper, #service #footer .service__wrapper {
  padding: 30px 20px;
}
#footer .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#footer .copyright {
  color: #fff;
}
#footer .top__btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
}
#footer .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}