html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  -moz-tab-size: 4;
  tab-size: 4;
  word-break: normal;
}

*, :after, :before {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

:after, :before {
  text-decoration: inherit;
  vertical-align: inherit;
}

* {
  margin: 0;
  padding: 0;
}

hr {
  color: inherit;
  height: 0;
  overflow: visible;
}

details, main {
  display: block;
}

summary {
  display: list-item;
}

small {
  font-size: 80%;
}

[hidden] {
  display: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline-width: 0;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
}

pre {
  font-size: 1em;
}

b, strong {
  font-weight: bolder;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit;
  text-indent: 0;
}

iframe {
  border-style: none;
}

input {
  border-radius: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button, input, optgroup, select, textarea {
  font: inherit;
}

optgroup {
  font-weight: 700;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

[role=button], [type=button], [type=reset], [type=submit], button {
  cursor: pointer;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
}

button, input, select, textarea {
  background-color: transparent;
  border-style: none;
}

a:focus, button:focus, input:focus, select:focus, textarea:focus {
  outline-width: 0;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

legend {
  border: 0;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
}

[disabled] {
  cursor: default;
}

img {
  border-style: none;
}

progress {
  vertical-align: baseline;
}

[aria-busy=true] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled=true] {
  cursor: default;
}

/* ---- reset ---- */
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #59C1D9;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

body {
  font-family: "Noto Sans JP";
}

a {
  color: #333;
  text-decoration: none;
}

p {
  color: #666;
  line-height: 200%;
  font-size: 16px;
}

li {
  list-style: none;
}

h3 {
  font-size: 28px;
}

.btn {
  width: 350px;
  height: 100px;
  display: flex;
  font-size: 20px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border-radius: 50px;
  letter-spacing: 5px;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .btn {
    width: 200px;
    height: 50px;
    font-size: 12px;
  }
}

.sec__title {
  width: max-content;
  font-size: 48px;
  margin-bottom: 80px;
  background: linear-gradient(transparent 50%, #A1C7E0 50%);
}
.sec__title span {
  font-size: 16px;
  margin-left: 10px;
}
@media screen and (max-width: 768px) {
  .sec__title {
    text-align: center;
  }
}

.logo {
  width: 80px;
}

#fv .fv__wrapper {
  position: relative;
  height: 100vh;
}
#fv .catchphrase {
  position: absolute;
  font-size: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-weight: 700;
  border-bottom: 5px solid #000;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  #fv .catchphrase {
    font-size: 20px;
  }
}
#fv .btn__wrapper {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
}

.wrapper, #service .service__wrapper, #values .values__wrapper {
  max-width: 1250px;
  margin: 0 auto;
  padding: 120px 20px;
}

#skills .skills__list {
  width: 100%;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}
#skills .skills__item {
  width: 15%;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  #skills .skills__item {
    width: 40%;
    margin: 0 auto;
  }
}
#skills .skills__img {
  width: 100%;
  height: 200px;
}
@media screen and (max-width: 768px) {
  #skills .skills__img {
    height: 100px;
  }
}
#skills .skills__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#skills p {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  #skills p {
    font-size: 15px;
  }
}

#values .values__list {
  width: 100%;
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  #values .values__list {
    flex-direction: column;
  }
}
#values .values__item {
  width: 400px;
  height: 400px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  padding: 40px 25px;
}
@media screen and (max-width: 768px) {
  #values .values__item {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}
#values .values__img {
  display: block;
  width: 150px;
  margin: 0 auto 10px;
}
#values .values__title {
  text-align: center;
  margin-bottom: 20px;
}
#values p {
  font-size: 16px;
}

#service .service__list {
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  #service .service__list {
    flex-direction: column;
  }
}
#service .service__item {
  width: 400px;
  height: 400px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  padding: 40px 25px;
}
@media screen and (max-width: 768px) {
  #service .service__item {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}
#service .service__img {
  display: block;
  width: 150px;
  margin: 0 auto 10px;
}
#service .service__title {
  text-align: center;
  margin-bottom: 20px;
}

#works .detail {
  display: block;
  margin-bottom: 10px;
}
#works .works__list {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  #works .works__list {
    flex-direction: column;
    gap: 80px;
  }
}
#works .works__item {
  position: relative;
  width: 30%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
  padding: 20px 10px;
}
@media screen and (max-width: 768px) {
  #works .works__item {
    width: 100%;
  }
}
#works img {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}
#works .category {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  background-color: #0099DD;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 10px;
}
#works .orange {
  background-color: #FA7F08;
}
#works .warm {
  position: absolute;
  font-size: 20px;
  font-weight: 700;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#works .modal {
  width: 70%;
  height: auto;
  background-color: #fff;
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  padding: 20px;
  opacity: 0;
  pointer-events: none;
}
#works .modal.open {
  opacity: 1;
  pointer-events: auto;
}
#works .modal h3 {
  font-weight: 490;
  text-align: center;
  margin-bottom: 20px;
}
#works .modal ul {
  width: 60%;
  margin: 0 auto;
}
#works .modal img {
  display: block;
  width: 60%;
  margin: 0 auto 20px;
}
#works .modal li {
  color: #666;
  margin-bottom: 5px;
}
#works .modal p {
  text-align: center;
  text-decoration: underline;
  margin-top: 10px;
}
#works #mask {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 90;
  opacity: 0;
  pointer-events: none;
}
#works #mask.open {
  opacity: 1;
  pointer-events: auto;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 12;
  background-color: transparent;
  transition: background-color 0.5s ease;
}
#header.scrolled {
  transition: background-color 0.5s ease;
  background-color: #000;
}
#header.scrolled .site__title {
  color: #fff;
}
#header.scrolled .header__list a {
  color: #fff;
}
#header.scrolled #hamburger span {
  background-color: #fff;
}
#header .site__title {
  font-size: 30px;
  letter-spacing: 5px;
  color: #000;
  position: relative;
  z-index: 20;
}
@media screen and (max-width: 768px) {
  #header .site__title.active {
    color: #fff;
  }
}
#header .header__wrapper {
  max-width: 1250px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
}
#header .header__list {
  display: flex;
  gap: 24px;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  #header .header__list {
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    position: absolute;
    inset: 0;
    text-align: center;
    justify-content: center;
    opacity: 0;
    z-index: 10;
    pointer-events: none;
    transition: opacity 1s ease;
  }
  #header .header__list.active {
    transition: opacity 1s ease;
    opacity: 1;
  }
}
#header a {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  #header a {
    color: #fff;
  }
}
#header #hamburger {
  position: absolute;
  width: 50px;
  top: 25px;
  right: 0;
  display: none;
  z-index: 20;
}
#header #hamburger span {
  display: block;
  background-color: #000;
  width: 50%;
  height: 2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
}
#header #hamburger span:nth-of-type(1) {
  top: 15px;
}
#header #hamburger span:nth-of-type(2) {
  top: 25px;
}
#header #hamburger span:nth-of-type(3) {
  top: 35px;
}
@media screen and (max-width: 768px) {
  #header #hamburger {
    display: block;
  }
}
#header #hamburger.active span {
  background-color: #fff;
}
#header #hamburger.active span:nth-of-type(1) {
  transition: top 0.3s ease, transform 0.3s ease 0.3s;
  top: 25px;
  transform: translateX(-50%) rotate(45deg);
}
#header #hamburger.active span:nth-of-type(2) {
  opacity: 0;
}
#header #hamburger.active span:nth-of-type(3) {
  transition: top 0.3s ease, transform 0.3s ease 0.3s;
  top: 25px;
  transform: translateX(-50%) rotate(-45deg);
}

#footer {
  background-color: #000;
}
#footer .wrapper, #footer #values .values__wrapper, #values #footer .values__wrapper, #footer #service .service__wrapper, #service #footer .service__wrapper {
  padding: 30px 20px;
}
#footer .flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
#footer .copyright {
  color: #fff;
}
#footer .top__btn {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
}
#footer .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#footer .mail {
  font-size: 16px;
  color: #fff;
}
#footer .mail i {
  color: #fff;
  margin-right: 10px;
}
#footer .mail span {
  display: block;
  font-size: 10px;
  text-align: center;
  margin-top: 10px;
}

.rotateY:hover {
  animation-name: rotateYAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes rotateYAnime {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(-360deg);
  }
}