.rotateY:hover {
    animation-name: rotateYAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes rotateYAnime {
    from{
        transform: rotateY(0);
    }
    to {
        transform: rotateY(-360deg);
    }
}

.fadein {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease, transform 0.8s cubic-bezier(0.4, 0.2, 0.2, 1);
    &.is-show {
      opacity: 1;
      transform: translateY(0);
    }
}

  .fadein-left {
    opacity: 0;
    transform: translateX(-40px);
    transition: opacity 0.8s ease, transform 0.8s cubic-bezier(0.4, 0.2, 0.2, 1);
    &.is-show {
      opacity: 1;
      transform: translateX(0);
    }
}

.top:hover {
    transition: transform .5s;
    transform: translateY(-30px);
}