.rotateY:hover {
    animation-name: rotateYAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes rotateYAnime {
    from{
        transform: rotateY(0);
    }
    to {
        transform: rotateY(-360deg);
    }
}