#footer {
    background-color: #000;
    .wrapper {
        padding: 30px 20px;
    }
    .flex {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .copyright {
        color: #fff;
    }
    .top__btn {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #fff;
        position: relative;
    }
    .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .mail {
        font-size: 16px;
        color: #fff;
        i {
            color: #fff;
            margin-right: 10px;
        }
        span {
            display: block;
            font-size: 10px;
            text-align: center;
            margin-top: 10px;
        }
    }
}