#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 12;
    .site__title {
        font-size: 30px;
        letter-spacing: 5px;
    }
    .header__wrapper {
      max-width: 1250px;
      height: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      padding: 0 20px;
    }
    .header__list {
      display: flex;
      gap: 24px;
      font-weight: 700;
      @include m.sp {
        flex-direction: column;
      }
    }
    a {
        font-size: 16px;
    }
    .hamburger {
        width: 52px;
        height: 52px;
        background-color: red;
        display: none;
        @include m.sp {
            display: block;
        }
    }
    #mask {
        display: none;
        @include m.sp {
            display: block;
        }
    }
  }